<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Elbadri Malik">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Assignment 2 | Grid</title>
</head>

<body>
    <header class="profile">
        <img class="profile-pic" src="./assets/person.jpg" alt="Profile Picture">
        <div class="profile-options">
            <h1 class="user-name">JohnDoe_</h1>
            <button class="edit-button">Edit Profile</button>
            <i class="fa fa-cog fa-lg" aria-hidden="true"></i>

        </div>
        <div class="profile-stat">
            <span><strong>20</strong> Posts</span>
            <span><strong>100</strong> Followers</span>
            <span><strong>123</strong> Following</span>
        </div>
        <div class="profile-bio">
            <strong>John Doe</strong>orem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, culpa numquuam dolorem veilt optio ipsam beatae aliquid praesentium. Corrupti fugiat magni omnis provoident! 😀 😀 😎
        </div>
    </header>
    <main class="gallery-view">
        <div class="thumb-preview">
            <i v-if="obj.type == 'gallary'" class="fa fa-clone type" aria-hidden="true"></i>

            <i v-else-if="obj.type == 'video'" class="fa fa-video type" aria-hidden="true"></i>

            <img class="thumb-preview" src="./assets/thumb_1.jpg" />
            <div class="likes-container">
                <i class="fa fa-heart likes" aria-hidden="true"> 322</i>
            </div>
        </div>
        <div class="thumb-preview">
            <i v-if="obj.type == 'gallary'" class="fa fa-clone type" aria-hidden="true"></i>

            <i v-else-if="obj.type == 'video'" class="fa fa-video type" aria-hidden="true"></i>

            <img class="thumb-preview" src="./assets/thumb_1.jpg" />
            <div class="likes-container">
                <i class="fa fa-heart likes" aria-hidden="true"> 322</i>
            </div>
        </div>
        <div class="thumb-preview">
            <i v-if="obj.type == 'gallary'" class="fa fa-clone type" aria-hidden="true"></i>

            <i v-else-if="obj.type == 'video'" class="fa fa-video type" aria-hidden="true"></i>

            <img class="thumb-preview" src="./assets/thumb_1.jpg" />
            <div class="likes-container">
                <i class="fa fa-heart likes" aria-hidden="true"> 322</i>
            </div>
        </div>
        <div class="thumb-preview">
            <i v-if="obj.type == 'gallary'" class="fa fa-clone type" aria-hidden="true"></i>

            <i v-else-if="obj.type == 'video'" class="fa fa-video type" aria-hidden="true"></i>

            <img class="thumb-preview" src="./assets/thumb_1.jpg" />
            <div class="likes-container">
                <i class="fa fa-heart likes" aria-hidden="true"> 322</i>
            </div>
        </div>
    </main>
</body>

</html>