* {
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px 18%;
    gap: 100px;
}


/* Profile View (Top of the page) */

.profile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    row-gap: 34px;
    column-gap: 12%;
    padding-left: 7.8%;
    margin-top: 100px;
}

.edit-button {
    background-color: transparent;
    font-weight: bold;
    padding: 5px 24px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
}

.user-name {
    font-weight: 300;
    font-size: 2.4rem;
}

h1,
p {
    margin: 0px;
}

button,
i,
.profile-pic {
    cursor: pointer;
}

i {
    /* shadow is added to make it appear in white background */
    text-shadow: 0 0 8px darkslategrey;
}

.profile-pic {
    border-radius: 100%;
    width: 170px;
    height: 170px;
    grid-row: 1 / -1;
    object-fit: cover;
}

.profile-stat {
    display: flex;
    justify-content: space-evenly;
}

.profile-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
}

.profile-bio {
    line-height: 1.8em;
}


/* Gallery View (Bottom of the page) */

.gallery-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 328px;
    gap: 24px;
}

.thumb-preview {
    min-height: 286px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.thumb-preview>img {
    width: 100%;
    height: 100%;
}

.likes-container {
    position: absolute;
    visibility: hidden;
    z-index: 999;
    color: white;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    margin-top: -1em;
    top: 50%;
}

.type {
    position: absolute;
    z-index: 888;
    right: 0px;
    top: 0px;
    margin: 16px;
    color: white;
    font-size: 1.6rem;
    transform: scale(-1, 1);
}

.thumb-preview:hover>img {
    filter: blur(10px) grayscale(100);
    transform: scale(1.2);
    transition: all 1s;
    cursor: pointer;
}

.thumb-preview:hover>.likes-container {
    visibility: visible;
}

@media screen and (max-width: 1400px) {
    body {
        margin: 0px 8%;
    }
}

@media screen and (max-width: 950px) {
    body {
        margin: 0px 4%;
        gap: 20px;
    }
    .profile {
        grid-template-columns: 1fr 10fr;
        row-gap: 20px;
        column-gap: 9%;
        padding-left: 0%;
        margin-top: 90px;
        margin-top: 40px;
    }
    .gallery-view {
        grid-template-columns: repeat(2, 1fr);
    }
    .user-name {
        font-size: 1.5rem;
    }
    .profile-pic {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        grid-row: 1 / -1;
        object-fit: cover;
    }
    .user-name {
        flex-grow: 1;
    }
    .fa {
        flex-grow: 1;
    }
    .profile-pic {
        grid-row: 1 / span 1;
    }
    .edit-button {
        order: 3;
        flex-basis: 100%;
    }
    .profile-stat {
        grid-row: 3 / span 4;
        grid-column: 1 / -1;
        border-top: 1px solid lightseagreen;
        border-bottom: 1px solid lightseagreen;
        padding: 20px 0px;
        text-align: center;
    }
    .profile-stat>span>strong::after {
        content: "\a";
        white-space: pre;
    }
    .profile-bio {
        grid-column: 1 / -1;
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

@media screen and (max-width: 610px) {
    body {
        margin: 0px 2%;
    }
    .profile {
        margin-top: 40px;
    }
    .gallery-view {
        grid-template-columns: 1fr;
    }
    .profile-bio {
        font-size: 0.9em;
        line-height: 1.3em;
    }
}